[project]
	description = ????? ?????? ????????????? ??????? (???.????????) ?? CPU ?? ????? ?++
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Egor Smutkin (brain2d)
[access "refs/for/refs/*"]
	read = group user/Egor Smutkin (brain2d)
	push = group user/Egor Smutkin (brain2d)
	label-Code-Review = -2..+2 group user/Egor Smutkin (brain2d)
	label-Verified = -1..+1 group user/Egor Smutkin (brain2d)
	rebase = group user/Egor Smutkin (brain2d)
	removeReviewer = group user/Egor Smutkin (brain2d)
	submit = group user/Egor Smutkin (brain2d)
[access "refs/heads/*"]
	read = group user/Egor Smutkin (brain2d)
	create = group user/Egor Smutkin (brain2d)
	push = +force group user/Egor Smutkin (brain2d)
	pushMerge = group user/Egor Smutkin (brain2d)
[access "refs/tags/*"]
	push = group user/Egor Smutkin (brain2d)
	push = +force group user/Egor Smutkin (brain2d)
